.homeLandingTop {
    width: 100%;
    height: auto;
    background-color: #fef5fa;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 30px;
    padding-top: 35px;
}

.type_date {
    width: 70%;
    display: flex;
    justify-content: space-between;
}

.date {
    color: #787878;
}

.tag {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 20px;
    font-weight: 600;
}

.tag span {
    background-color: #ffffff;
    margin-left: 10px;
    margin-right: 10px;
    padding: 5px;
    border: 1px solid #ffffff;
    border-radius: 15px;
}

.landingMessage {
    text-align: center;
    margin-top: 30px;
}

.landingMessage span {
    display: block;
    font-size: 40px;
    /* font-size: 45px; */
    font-weight: 800;
    color: #f12361;
    margin: 0 auto;
}

.product_image {
    /* float: left; */
    /* width: 50%; */
    width: 300px;
    height: 300px;
    background-color: white;
    margin-right: 30px;
}

.product_image_wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.homeLandingContents {
    /* display: flex;
    justify-content: center; */
    height: auto;
    display: flex;
    justify-content: center;
    background-color: #fef5fa;
    padding-bottom: 60px;
}

.blog_text {
    height: auto;
    width: 960px;
}