input:focus {
    outline: none;
}
.detailWrapper {
    width: 100%;
    min-height: 150vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titleWrapper {
    width: 80%;
    margin-top: 10vh;
}

.titleWrapper span {
    font-size: 32px;
    font-weight: 200;
}
.line {
    display: block;
    margin: 1rem 0;
    width: 3rem;
    border: 1px solid #c9c9c9;
}

.bodyWrapper {
    margin-top: 10vh;
    width: 80%;
    margin-bottom: 5rem;
}

.bodyWrapper span {
    line-height: 150%;
    font-size: 24px;
    font-weight: 200;
}

.bottomWrapper {
    width: 90%;
    height: 10vh;
    background-color: #fbfbfb;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.writerSpan {
    font-weight: 200;
    color: red;
}

.commentWrapper {
    margin-top: 3rem;
    width: 80%;
}

.commentWrapper .comment {
    font-size: 32px;
    font-weight: 200;
}

.btn {
    background-color: #000;
    width: 5rem;
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    font-size: 15px;
    font-weight: 200;
    color: #ffffff;
}

.saveWrapper {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 2rem;
    font-weight: 200;
}

.writecomment_button {
    border: none;
    background-color: #000;
    width: 5rem;
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    font-size: 15px;
    font-weight: 200;
    color: #ffffff;
}

form {
    width: 80%;
}

textarea {
    width: 100%;
    border: none;
    border-top: 1px solid #c9c9c9;
    padding: 2rem 0;
    outline: none;
}

.commentAuthWrapper {
    margin-top: 1rem;
    margin-bottom: 2rem;
    width: 80%;
    font-weight: 200;
    height: 5rem;
    display: flex;
    padding-left: 1rem;
    /* flex-direction: column; */
    justify-content: space-between;
    align-items: center;
    background-color: #c9c9c9;
}

.updownWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 1rem;
}
.updownWrapper a {
    color: #000;
    margin: 0 0.5rem;
}
