

.title{
   
    width: 100%;
    height: 100vh;
    background-color:#282828 ;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.main_title{
    color:#fef5fa;
    font-weight: bold;
    font-size:60px;
}
body{
  background-color:#F1F2F8; 
}
.main{
    
    width: 100%;
    height: 87vh;
    margin-top: 35px;
    margin-bottom: 15px;
}


.selectbox {
    display:flex;
    flex-direction: column;
    position:relative;
    width:130px;
    height:40px;
    
    
}
  
.option {
    padding:0 30px 0 10px;
    min-height:40px;
    display:flex;
    align-items:center;
    background:#fef5fa;
    border-bottom:#282828 solid 1px;
    border-left:#282828 solid 1px;
    border-right:#282828 solid 1px;
    position:absolute;
    top:0;
    width: 100%;
    pointer-events:none;
    order:2;
    z-index:1;
    transition: background .4s ease-in-out;
    box-sizing:border-box;
    overflow:hidden;
    white-space:nowrap;
    font-weight: 400;
    color:#282828;
    
}
  
.option:hover {
    background-color: #ffc0cc;
    color:#282828;
    font-weight: 600;
}
  
.selectbox:focus .option {
    position:relative;
    pointer-events:all;
}
  
.opt {
    opacity:0;
    position:absolute;
    left:-99999px;
}
  
.opt:checked + label {
    order: 1;
    z-index:2;
    background:#f4a7b5;
    border-top:none;
    border-left:none;
    border-right:none;
    position:relative;
    font-weight:normal;
    
}
  
.opt:checked + label:after {

    content:'';
    width: 0; 
      height: 0; 
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-top: 5px solid #282828;
    position:absolute;
    right:10px;
    top:calc(50% - 2.5px);
    pointer-events:none;
    z-index:3;
}
  
.opt:checked + label:before {

    position:absolute;
    right:0;
    height: 40px;
    width: 40px;
    content: '';
    background:#f4a7b5;
}


  .subbox {
    width:400px;
    height: 42px;
    margin-left:50px;
  }

 
  .search_box{
    margin-left:50px;
    height:40px;
    width:388px;
    border: 1px solid  #282828;
    background:#ffffff;
  }

  input.search{
    font-size: 16px;
    width: 300px;
    padding: 10px;
    border:0px;
    outline:none;
    float:left;
  }

  .submit_button{
    width:50px;
    height:41px;
    border:0px;
    background: #282828;
    outline:none;
    float:right;
    color: #fef5fa;
    border-radius:0px;
  }
  
  .perfume{
    width:150px;
    height: 205px;
    border: 1px solid rgba(228, 180, 180, 0.8);
    
    display:inline-block;
    font-size: 0px;
    
    position: relative;

    figure{
      
      
      figcaption{
        background: rgba(255, 248, 248, 0.8);
			  bottom: 0;
			  box-sizing: border-box;
			  position: absolute;
			  width: 100%;
			  
			  -webkit-transition: max-height 0.3s ease-out;
			  overflow: hidden;
        
        
      }
      .perfume_info { font-size:15px;color:#282828; font-weight: bold; padding-left:5px; padding-right: 5px;} 
    }

    .perfume_img {
      
      width:150px;
      
      object-fit: cover;
    }
  }
  .perfume_brand, .perfume_name{
    text-align: center;
    font-size:17px;
    margin-top:5px;
    color:#282828;
    font-weight: bold;
    
  }
  @media screen and (min-width: 300px) {
    figure {
      

      figcaption { height: 50px; }
    
      &:hover {
        figcaption {
          position: absolute;
          bottom: 0;
          width: 100%;
          height: 100%;
          transition: height .3s ease-in;
        }
        
        .perfume_info {
          opacity: 1;
          -webkit-transition: opacity .3s ease-in .3s;
          -moz-transition: opacity .3s ease-in .3s;
          -ms-transition: opacity .3s ease-in .3s;
          transition: opacity .3s ease-in .3s;
        }
      }
    }
    
    .perfume_info { opacity: 0; }
    }
  
    .perfume_color, .perfume_time, .perfume_note{
      margin-bottom:5px;
    }
  @media screen and (max-width: 301px) {
    figure { width: 100%; }
    
    .perfume_info { opacity: 1; }
    figcaption { height: auto; }
  }
  
  
  .leftbox{
    display: inline-block;
    height: 94.5%;
    
  }
  .value_select{
    display: inline-block;
    height: 82%;
    border:1px solid #282828;
    position:absolute;
    left:475px;
    right:50px;
    min-width:164px;
    min-height:590px;
    text-align: center;

    font-size:0px;

    background-color: white;
  }

  $x: 100%;
  $y: 105px;
  

  .infobox{
    position:relative;
    text-align: center;
    width:388px;
    height:calc(#{$x} - #{$y});
    border: 1px solid  #282828;
    margin-left:50px;
    min-height:510px;
    background-color:white;
    
    
    
  }

  .h1{
    border:0;border-top:2px solid #7e1937ce;
    width:100px;
    align-items: center;
  }

  .h2{
    border:0;border-top:1px solid #7e1937ce;
    width:70px;
    align-items: center;
  }
  .tag{
    height: 18px;
    width:390px;
    margin-left:50px;
    margin-top:1px;
    background-color:#282828;
  }
  .tagname{
    
    display: inline-block;
    width:32%;
    text-align: center;
    color:#fef5fa;
    font-weight: bold;
    font-size:small;
  }

  
/* total width */
  .value_select::-webkit-scrollbar {
    background-color: #fef5fa;
    width: 12px;
  
  }

  /* background of the scrollbar except button or resizer */
  .value_select::-webkit-scrollbar-track {
    background-color: #282828;
    
  }

  /* scrollbar itself */
  .value_select::-webkit-scrollbar-thumb {
    background-color: #fef5fa;
    
    border-right: 2px solid #282828;
    border-left: 3px solid #282828;
  }

  /* set button(top and bottom of the scrollbar) */
  .value_select::-webkit-scrollbar-button {
    display:none;
  }

  img[src *= "-"]{  /* src에 -문자가 포함되어 있는 경우 */
    
  }

  .colorimg{
    width:230px;
    margin-top:50px;
    border-radius: 30%;
    overflow: hidden;
    border:1px solid #282828;
  }

  .timeimg{
    width:230px;
  }
  .noteimg{
    width:230px;
  }



  /* tooltip */
  .tooltip {
    position: relative;
     
    &__item {
      
      position: absolute;
      min-width: 300px;
      height:10px;
      padding: 10px 10px 20px 10px;
      visibility: hidden;
      opacity: 0;
      background: #282828;
      transition: all .250s cubic-bezier(0, 0, 0.2, 1);
      color: #F1F2F8;
      border: 1px solid #282828;
      border-radius: 3px;
      font-size:18px;
      font-weight: 400;
      box-shadow: 0 2px 1px #F1F2F8;
      z-index: 4;
      &:after {
        content: "";
        display: block;
        position: absolute;
        width: 0;
        height: 0;
        border-style: solid;
      }
    }
    
    &__initiator {
      cursor: pointer;
      z-index: 5;
    }
    
  
    &[data-direction="bottom"] {
      
      .tooltip__initiator:hover ~ .tooltip__item {
        transform: translate3d(-50%, 0, 0);
        visibility: visible;
        opacity: 1;
      }
      
      .tooltip__item {
        top: calc(100% + 1em);
        left: 50%; 
        transform: translate3d(-50%, -15px, 0); 
  
        &:after {
          top: -0.5em;
          left: 50%;
          transform: translate3d(-50%, 0, 0);
          border-width: 0 0.5em 0.5em 0.5em;
          border-color: transparent transparent #282828 transparent;
          -webkit-filter: drop-shadow(1px 2px 1px #F1F2F8);
          filter: drop-shadow(1px -1px 1px #F1F2F8);
        }
      }
    }
  }
  
  
.arrow{
  margin-top:30px;
}
.arrow span{
  display: block;
  width: 30px;
  height: 30px;
  border-bottom: 5px solid #f4a7b5;
  border-right: 5px solid #f4a7b5;
  transform: rotate(45deg);
  margin: -10px;
  animation: animate 2s infinite;
}
.arrow span:nth-child(2){
  animation-delay: -0.2s;
}
.arrow span:nth-child(3){
  animation-delay: -0.4s;
}
@keyframes animate {
  0%{
      opacity: 0;
      transform: rotate(45deg) translate(-20px,-20px);
  }
  50%{
      opacity: 1;
  }
  100%{
      opacity: 0;
      transform: rotate(45deg) translate(20px,20px);
  }
}