{% extends 'base.html' %} {%block content%}

<html>
    <head>
        {% load static %} {% block extrahead %}
        <link rel="stylesheet" href="{% static 'css/community_detail.css' %}" />
        <title>COMMUNITY</title>
        {% endblock %}
    </head>
    {% csrf_token %}
    <div class="detailWrapper">
        <div class="titleWrapper">
            <span> {{community_detail.title}} </span>
            <span class="line"></span>
        </div>
        {% if community_detail.image %}
        <img
            src="{{community_detail.image.url}}"
            style="width: 300px; height: 300px"
        />
        {% endif %}
        <div class="bodyWrapper">
            <span> {{community_detail.body}}</span>
        </div>
        <div class="saveWrapper">
            <span>
                {{community_detail.save_users.all | length}}명이 저장한
                게시글</span
            >
        </div>
        <div class="bottomWrapper">
            <div className="writerWrppaer">
                <span className="writerSpan"
                    >Writer : {{community_detail.writer}}</span
                >
            </div>
            <div className="dateWrapper">
                <span>Date : {{community_detail.date}}</span>
            </div>
            {%if community_detail.writer == request.user.username%}
            <a href="{% url 'community_delete' community_detail.id %}">
                <div class="btn">삭제하기</div>
            </a>
            <a href="{% url 'community_edit' community_detail.id %}">
                <div class="btn">수정하기</div></a
            >
            {%endif%}
            <a href="{% url 'save_post' community_detail.id %}">
                {% if user in community_detail.save_users.all %}
                <div class="btn">저장하기</div>
                {% else %}
                <div class="btn">저장하기</div>
                {% endif %}
            </a>
        </div>

        <div class="commentWrapper">
            <span class="comment">COMMENT</span>
            <span class="line"></span>
        </div>
        {% if user.is_authenticated %}
        <form
            className="commentForm"
            action="{%url 'writeCommunitycomment' community_detail.id%}"
            method="POST"
        >
            {% csrf_token %}
            <textarea
                className="commentArea"
                type="textfield"
                name="comment_text"
                placeholder="댓글을 입력해주세요!"
            ></textarea>

            <input
                class="writecomment_button"
                type="submit"
                value="입력하기"
                style="cursor: pointer"
            />
        </form>
        {% endif %}

        <!--댓글 보여주기-->
        {%for c in comment%}
        <div class="commentAuthWrapper">
            <div>
                <div>{{c.author_name}}</div>
                <div>{{c.created_at}}</div>
                <div>{{c.comment_text}}</div>
            </div>
            <div class="updownWrapper">
                <a href="{% url 'Up' community_detail.id c.id %}">
                    {% if user in c.up_users.all %}
                    <div><i class="fas fa-thumbs-up"></i></div>
                    <div style="margin-left: 5px">{{c.up_count}}</div>
                    {% else %}
                    <div><i class="far fa-thumbs-up"></i></div>
                    <div style="margin-left: 5px">{{c.up_count}}</div>
                    {% endif %}
                </a>
                <!-- 싫어요 -->
                <a href="{% url 'Down' community_detail.id c.id %}">
                    {% if user in c.down_users.all %}
                    <div><i class="fas fa-thumbs-down"></i></div>
                    <div style="margin-left: 5px">{{c.down_count}}</div>
                    {% else %}
                    <div><i class="far fa-thumbs-down"></i></div>
                    <div style="margin-left: 5px">{{c.down_count}}</div>
                    {% endif %}
                </a>
                {%if c.author_name == request.user.username%}
                <a
                    href="{% url 'deleteCommunitycomment' community_detail.id c.id %}"
                >
                    <div class="btn">삭제하기</div>
                </a>
                {%endif%}
            </div>
        </div>

        <!--댓글 좋아요-->
        <!-- 좋아요 -->

        <hr />
        {%endfor%}
    </div>

    <!--댓글 작성-->
    {% endblock%}
</html>
