{% extends 'base.html' %} {%block content%}

    <head>
        {% load static %} {% block extrahead %}
        <link rel="stylesheet" href='{% static "css/education.css" %}' />
        <title>EDUCATION</title>
        
        {% endblock %}
    </head>

    <body>
        <div class="eduWrapper">
            <div class="eduHeaderWrapper">
                <span class="maintitle">EDUCATION</span>
            </div>
            <div class="eduCateWrapper">
                
                    <div class="cateItem here">
                        <a href="{%url 'education'%}">영상</a>
                    </div>
                
                    <div class="cateItem">
                        <a href="{%url 'common'%}">향수상식</a></div>
                
                
                    <div class="cateItem">
                        <a href="{%url 'eduquiz'%}">향수퀴즈</a></div>
                
            </div>
            <div class="contentsWrapper">
                <div class="eduWrapper eduBox">
                    <div class="title">
                        <span>조향사가 알려주는 향수 상식</span>
                    </div>

                </div>
                
                <div class="videoWrapper eduBox">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/VCteARLYwxg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
            <div class="contentsWrapper">
                <div class="eduWrapper eduBox">
                    <div class="title">
                        <span>향의 기초지식</span>
                    </div>

                </div>
                <div class="videoWrapper eduBox">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/vfVAxIKzYfo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>      
                </div>
            </div>
            <div class="contentsWrapper">
                <div class="eduWrapper eduBox">
                    <div class="title">
                        <span>뒤돌아보고 싶은 향수 고르는 영상</span>
                    </div>

                </div>
                <div class="videoWrapper eduBox">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/jOAy2NdqN9Q" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
            <div class="contentsWrapper">
                <div class="eduWrapper eduBox">
                    <div class="title">
                        <span>자신의 이미지에 맞는 향수 고르는 법</span>
                    </div>

                </div>
                <div class="videoWrapper eduBox">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/V7keBlxyuBU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
            <div class="contentsWrapper">
                <div class="eduWrapper eduBox">
                    <div class="title">
                        <span>뿌릴때마다 물어보는 향수 고르는 팁!</span>
                    </div>

                </div>
                <div class="videoWrapper eduBox">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/-cbplATYPwM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
            </div>
            <a href="#top" class="topHref">
                <div class="topBtn">
                    <div class="topImg">
                    <i class="fas fa-angle-up"></i>
                </div>
            </a>
        </div>
       
    </body>
    {% endblock%}
</html>
