{% extends 'base.html' %} {%block content%}

      <head>
        {% load static %} {% block extrahead %}
        <link rel="stylesheet" href="{% static 'css/perfume.css' %}">
        {% endblock %}
        
      </head>

      <body style="min-width:670px;">
      <div class = "title">
        <p class = "main_title">PERFUME</p>
        <a href = "#main">
          <div class="arrow">
            <span></span>
            <span></span>
            <span></span>
          </div>
        </a>
      </div>

      <div class = "main" id = "main">
        <div class = "leftbox">
          <div class = "search_box">
            <form action ="search" method = "POST">
            {% csrf_token %}
              <div class = "search">
                <input class = "search" type = "text"  name = "search_key" value = "{{search_key}}" placeholder = "search"/>
                <button class = "submit_button" type = "submit" value = "Search">검색</button>
              </div>
            </form>
          </div>
          <div class = "tag">
            <p class = "tagname">COLOR</p>
            <p class = "tagname">TIME</p>
            <p class = "tagname">NOTE</p>
          </div>

          <div class = "subbox">
            <div class = "selectbox" tabindex="1" style="float:left">
              
              <input class = "opt" type = "radio" name = "color" value = "call" id = "call" onclick = "filter();drawimage_color();" checked/>
              <label for = "call" class = "option">ALL</label>
              <input class = "opt" type = "radio" name = "color" value = "red" id = "red" onclick = "filter();drawimage_color();"/>
              <label for = "red" class = "option">RED</label>
              <input class = "opt" type = "radio" name = "color" value = "ora" id = "ora" onclick = "filter();drawimage_color();"/>
              <label for = "ora" class = "option">ORANGE</label>
              <input class = "opt" type = "radio" name = "color" value = "yel" id = "yel" onclick = "filter();drawimage_color();"/>
              <label for = "yel" class = "option">YELLOW</label>
              <input class = "opt" type = "radio" name = "color" value = "gre" id = "gre" onclick = "filter();drawimage_color();"/>
              <label for = "gre" class = "option">GREEN</label>
              <input class = "opt" type = "radio" name = "color" value = "blu" id = "blu" onclick = "filter();drawimage_color();"/>
              <label for = "blu" class = "option">BLUE</label>
              <input class = "opt" type = "radio" name = "color" value = "pur" id = "pur" onclick = "filter();drawimage_color();"/>
              <label for = "pur" class = "option">PURPLE</label>
              <input class = "opt" type = "radio" name = "color" value = "pin" id = "pin" onclick = "filter();drawimage_color();"/>
              <label for = "pin" class = "option">PINK</label>
              <input class = "opt" type = "radio" name = "color" value = "whi" id = "whi" onclick = "filter();drawimage_color();"/>
              <label for = "whi" class = "option">WHITE</label>
              <input class = "opt" type = "radio" name = "color" value = "bla" id = "bla" onclick = "filter();drawimage_color();"/>
              <label for = "bla" class = "option">BLACK</label>
            </div>
          
            <div class = "selectbox" tabindex="1" style="float:left">
              <input class = "opt" type = "radio" name = "time" value = "tall" id = "tall" onclick = "filter();drawimage_time();" checked/>
              <label for = "tall" class = "option">ALL</label>
              <input class = "opt" type = "radio" name = "time" value = "per" id = "per" onclick = "filter();drawimage_time();"/>
              <label for = "per" class = "option">PER</label>
              <input class = "opt" type = "radio" name = "time" value = "edp" id = "edp" onclick = "filter();drawimage_time();"/>
              <label for = "edp" class = "option">EDP</label>
              <input class = "opt" type = "radio" name = "time" value = "edt" id = "edt" onclick = "filter();drawimage_time();"/>
              <label for = "edt" class = "option">EDT</label>
              <input class = "opt" type = "radio" name = "time" value = "edc" id = "edc" onclick = "filter();drawimage_time();"/>
              <label for = "edc" class = "option">EDC</label>
            </div>
          
            <div class = "selectbox" tabindex="1" style="float:left">
              <input class = "opt" type = "radio" name = "note" value = "nall" id = "nall" onclick = "filter();drawimage_note();" checked/>
              <label for = "nall" class = "option">ALL</label>
              <input class = "opt" type = "radio" name = "note" value = "Citrusfruits" id = "cit" onclick = "filter();drawimage_note();"/>
              <label for = "cit" class = "option">CitrusFruits</label>
              <input class = "opt" type = "radio" name = "note" value = "Aromatics" id = "aro" onclick = "filter();drawimage_note();"/>
              <label for = "aro" class = "option">Aromatics</label>
              <input class = "opt" type = "radio" name = "note" value = "Floral" id = "flo" onclick = "filter();drawimage_note();"/>
              <label for = "flo" class = "option">Floral</label>
              <input class = "opt" type = "radio" name = "note" value = "Green" id = "gree" onclick = "filter();drawimage_note();"/>
              <label for = "gree" class = "option">Green</label>
              <input class = "opt" type = "radio" name = "note" value = "Fruity" id = "fru" onclick = "filter();drawimage_note();"/>
              <label for = "fru" class = "option">Fruity</label>
              <input class = "opt" type = "radio" name = "note" value = "Spices" id = "spi" onclick = "filter();drawimage_note();"/>
              <label for = "spi" class = "option">Spices</label>
              <input class = "opt" type = "radio" name = "note" value = "Wooded" id = "woo" onclick = "filter();drawimage_note();"/>
              <label for = "woo" class = "option">Wooded</label>
              <input class = "opt" type = "radio" name = "note" value = "Balsamic" id = "bal" onclick = "filter();drawimage_note();"/>
              <label for = "bal" class = "option">Balsamic</label>
            </div>
        
          </div>  
          <div class = "infobox">
            <form>
              <img id = "colorimage" class = "colorimg" src="{% get_static_prefix %}img/call.jpg" >

              <div class="tooltip" data-direction="bottom">
                <div class="tooltip__initiator">
                  <div style = "margin-top:40px;">
                    <img id = "timeimage" class = "timeimg" src="{% get_static_prefix %}img/tall.png" onmouseover = tooltips_time()>
                  </div>
                </div>
                <div class="tooltip__item">
                  <p id = "time_ex">bottom</p>
                </div>
              </div>
              
              <div class="tooltip" data-direction="bottom">
                <div class="tooltip__initiator">
                  <div style="margin-top:30px;">
                    <img id = "noteimage" class = "noteimg" src="{% get_static_prefix %}img/nall.png" onmouseover = tooltips_note()>
                  </div>
                </div>
                <div class="tooltip__item">
                  <p id = "note_ex">bottom</p>
                </div>
              </div>
              
              
            </form>  
            <div style = "background-color: #282828;width:100%; height:25px; position:absolute; bottom: 0;"></div>
          </div>
        </div>
        <div class = "value_select" style="overflow-x:hidden; overflow-y:scroll;">
          {% if perfume_list %} {% for perfume in perfume_list %}
          <a href="{%url 'product' perfume.name%}">
            <div class = "perfume">
              <figure class = "perfume_thumb">
                <img src="{% get_static_prefix %}img/{{perfume.perfume_img}}.jpg" class="perfume_img">
                <figcaption class="perfume_caption">
                  <p class = "perfume_brand">[{{perfume.brand}}]</p>
                  <p class = "perfume_name">{{perfume.name}}</p>
                  <div class = "perfume_info">
                  <hr class = "h1">
                  <span class = "perfume-color" style = "display:none;">{{perfume.color}}</span>
                  <p class = "perfume_time" style = "padding-top:10px; padding-bottom:5px;"><span class="perfume-time" style = "display:none">{{perfume.time}}</span>{{perfume.get_time_display}}</p>
                  <hr class = "h2">
                  <p class = "perfume_note" style = "padding-top:5px; padding-bottom:3px; width:95%;"><span class="perfume-note_group" style = "display:none">{{perfume.note_group}}</span>{{perfume.get_note_group_display}}</p>
                  </div>
                </figcaption>
              </figure>
            </div>
          </a>
          {% endfor %} {% endif %}
          </div>
      </div>
      

      <script>
          function filter(){
            const color = 'input[name="color"]:checked';
            const selec_color = document.querySelectorAll(color);
            let result_color = '';
            selec_color.forEach((el) => { 
              result_color = el.value;
            });
      
            const time = 'input[name="time"]:checked';
            const selec_time = document.querySelectorAll(time);
            let result_time = '';
            selec_time.forEach((el) => { 
              result_time = el.value;
            });
            
            const note = 'input[name="note"]:checked';
            const selec_note = document.querySelectorAll(note);
            let result_note = '';
            selec_note.forEach((el) => { 
              result_note = el.value;
            });

            var perfumes = document.getElementsByClassName('perfume');

            for (var i = 0; i < perfumes.length; i++){
              var c = perfumes[i].getElementsByClassName('perfume-color')[0].innerHTML;
              var t = perfumes[i].getElementsByClassName('perfume-time')[0].innerHTML;
              var n = perfumes[i].getElementsByClassName('perfume-note_group')[0].innerHTML;

              var n_arr = n.split(",");

              if (result_color == 'call' || result_color == c){
                if ( result_time == 'tall' || result_time == t){
                  for ( var j = 0; j < n_arr.length; j++){
                    if ( result_note == 'nall' || result_note == n_arr[j].replace(/ /g,"")){

                      perfumes[i].style.display = '';
                      break;
                    }
                    else{
                      perfumes[i].style.display = 'none';
                    }
                  }
                }
                else{
                  perfumes[i].style.display = 'none';
                }
              }
              else{
                perfumes[i].style.display = 'none';
              }
            
          }
        }

          function drawimage_color(){
              
              var found = null;
              var sel = document.getElementsByName("color");
              var img = document.getElementById("colorimage");

              for(var i = 0; i<sel.length;i++){
                if(sel[i].checked == true){
                  found = sel[i];
                  break;
                }
              }
              
              img.src = "{% get_static_prefix %}img/" + found.value + ".jpg";
              
          }

          function drawimage_time(){
              var found = null;
              var sel = document.getElementsByName("time");
              var img = document.getElementById("timeimage");

              for(var i =0; i<sel.length;i++){
                if(sel[i].checked == true){
                  found = sel[i];
                  break;
                }
              }
              img.src = "{% get_static_prefix %}img/" + found.value + ".png";
          }

          function drawimage_note(){
              var found = null;
              var sel = document.getElementsByName("note");
              var img = document.getElementById("noteimage");

              for(var i =0; i<sel.length;i++){
                if(sel[i].checked == true){
                  found = sel[i];
                  break;
                }
              }
              img.src = "{% get_static_prefix %}img/" + found.value + ".png";
          }

          function tooltips_time(){
            var time = document.getElementsByName("time");
            for(var i =0; i<time.length;i++){
                if(time[i].checked == true){
                  found = time[i];
                  break;
                }
            }
            if ( found.value == 'tall'){
              document.getElementById("time_ex").innerHTML = "ALL";
            }
            else if ( found.value == 'per'){
              document.getElementById("time_ex").innerHTML = "향 지속시간 : 6~7h";
            }
            else if ( found.value == 'edp'){
              document.getElementById("time_ex").innerHTML = "향 지속시간 : 5h";
            }
            else if ( found.value == 'edt'){
              document.getElementById("time_ex").innerHTML = "향 지속시간 : 3~5h";
            }
            else{
              document.getElementById("time_ex").innerHTML = "향 지속시간 : 1~2h";
            }
          }

          function tooltips_note(){
            var note = document.getElementsByName("note");
            for(var i =0; i<note.length;i++){
                if(note[i].checked == true){
                  found = note[i];
                  break;
                }
            }
            if ( found.value == 'nall'){
              document.getElementById("note_ex").innerHTML = "ALL";
            }
            else if ( found.value == 'Citrusfruits'){
              document.getElementById("note_ex").innerHTML = "감귤류 향";
            }
            else if ( found.value == 'Aromatics'){
              document.getElementById("note_ex").innerHTML = "허브 향";
            }
            else if ( found.value == 'Floral'){
              document.getElementById("note_ex").innerHTML = "꽃 향";
            }
            else if ( found.value == 'Green'){
              document.getElementById("note_ex").innerHTML = "풀&나뭇잎 향";
            }
            else if ( found.value == 'Fruity'){
              document.getElementById("note_ex").innerHTML = "과일류 향";
            }
            else if ( found.value == 'Spices'){
              document.getElementById("note_ex").innerHTML = "향신료 향";
            }
            else if ( found.value == 'Wooded'){
              document.getElementById("note_ex").innerHTML = "나무 향";
            }
            else{
              document.getElementById("note_ex").innerHTML = "발삼 향";
            }
          } 
          

      </script>
      </body>
      {% endblock%}
