{% extends 'base.html' %} {%block content%}

<head>
    {% load static %} {% block extrahead %}
    <link rel="stylesheet" href="{% static 'css/search.css' %}">
    {% endblock %}

</head>

<body>
    <div class="main">
        
        <img src="{% get_static_prefix %}img/logo2.png" class = "logo">
        
        <div class = "search_box">
            <form action ="search" method = "POST">
            {% csrf_token %}
              <div class = "search">
                <input class = "search" type = "text"  name = "search_key" value = "{{search_key}}" placeholder = "search"/>
                <button class = "submit_button" type = "submit" value = "Search">검색</button>
              </div>
            </form>
        </div>

        <div class="search_result">
            {% if not search_list %}
        
            <h1 class = "result">: 검색 결과가 없습니다</h1>

            {% else %}
            {% if search_key %}
            <h1 class="result">: {{search_key}}의 검색결과입니다.</h1>
            {% endif %}
            
            <div class = "value_select" style="overflow-x:hidden; overflow-y:scroll;">
              {% for search_result in search_list %}
                <a href="{%url 'product' search_result.name%}">
                  <div class = "perfume">
                    <figure class = "perfume_thumb">
                      <img src="{% get_static_prefix %}img/{{search_result.perfume_img}}.jpg" class="perfume_img">
                      <figcaption class="perfume_caption">
                        <p class = "perfume_brand">[{{search_result.brand}}]</p>
                        <p class = "perfume_name">{{search_result.name}}</p>
                          <div class = "perfume_info">
                            <hr class = "h1">
                            <p class = "perfume_time" style = "padding-top:10px; padding-bottom:5px;">{{search_result.get_time_display}}</p>
                            <hr class = "h2">
                            <p class = "perfume_note" style = "padding-top:5px; padding-bottom:3px; width:95%;">{{search_result.get_note_group_display}}</p>
                          </div>
                      </figcaption>
                    </figure>
                  </div> 
                </a>
                {% endfor %} {% endif %}
                </div>
            </div>

        </div>
      </div>
 
</body>
{% endblock%}