{% extends 'base.html' %} {%block content%} {% load static %}

<head>
    {% block extrahead %}
    <link rel="stylesheet" href="{% static 'css/test.css' %}">
    <title>TEST</title>
    <script src="https://use.fontawesome.com/releases/v5.2.0/js/all.js"></script>
    {% endblock %}
</head>

<body>
    <div class="homeLandingTop">
        <!-- 테스트 페이지 타이틀 -->
        <div class="main_title">
            <span>나에게 어울리는 향수는?</span>
        </div>
        <!-- 멘트 -->
        <div class="sub_title">
            <span>몇 가지 질문으로 당신에게 가장 어울리는 향수를 추천드려요.
            </span>
        </div>
        <br><br><br>
        <!-- 시작 -->
        <div class="start_buttonWrapper">
            <a href="{% url 'form' %}">
                <div class="buttonItem">시작하기</div>
            </a>
    </div>
    {% endblock%}
</body>
